body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  header {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    padding: 60px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center; 
    border-radius: 15px;
    height: 40px;
    border: solid #CC5500 1px;
    margin: 10px;
  }

  .input-box {
    background-color: white;
    opacity: 0.2;
    height: 100%;
    width: 60%;
    border: solid #cc0077 2px;
    color: black;
  }

  .input-list-item {
    color: #000000;
    display: flow-root;
  }

  #time {
    text-align: left;
  }

  .save-button {
    background-color: #CC5500;
    border-radius: 15px;
    float: right;
    width: 20%;
    height: 100%; 
    border: solid 4px white;
    color: white;
  }

  @media only screen and (max-width: 600px) {
    .button-text {
      display: none;
    }
  }

  .hour-display {
    float: left;
    padding: 10px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #CC5500;
    opacity: 0.5;
    color: white;
  }
  
  .present {
    background-color: #cc0077;
    border: solid 1px #cc0077;
    color: white;
  }

  .present > .save-button {
    background-color: #cc0077;
  }
  
  .future {
    background-color: #CC5500;
    color: white;
  }
  
  .save-button i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  